
.navbar-brand {
	margin-left: 40px;
	font-weight: bold;
	font-size: 50px;
    color: yellow;
    font-family: "Helvetica", serif;
}

.navbar-color {
    background-color: #6B7A8F !important;
}

.navbar-brand {
    color: #F7882F !important;
}

.navbar-nav {
    height: 50px;
}

.navbar-nav a {
    line-height: 50px;
}

.text-color {
    color: #6B7A8F;
    font-size: 15px;
    font-weight: bold;
}

.words-chart {
	width: 750px;
    height: 750px;
    margin: auto;
}

.tab {
	margin-left: 20px;
	font-weight: bold;
	font-size: 20px;
    color: #F7C331;
    margin-right: 40px;
}

h1, h2, h3, h4, h5, h6 {
    color: #6B7A8F;
    font-family: "Helvetica", serif;
    font-weight:  700;
}

body {
    background-color: #DCC7AA;
    color: black;
    background-image: url(pw_maze_white_@2x.png)
}

p {
    /*font-weight: bold;*/
    font-size: 15px;
}

.button {
    background-color: #F7882F;
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
}

.search-input {
    width: 500px;
    height: 35px;
    display: inline-block;
}

.search-button {
    margin-left: 10px;
    height: 35px;
    width: 75px;
}

input[type="text"],
textarea {
    border-radius: 8px;
    border: 1px solid #aaa;
    padding: 0 10px;
}




