<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}Convo{% endblock %}</title>
  </head>

  <body>

    <div>
      {% if "user_id" in session %}
        <!-- <li><a href="/user_page/{{ session['user_id'] }}">Profile</a></li> -->
        <a href="/logout">Logout</a>
      {% else %}
        <!-- <li><a href="/register">Register</a></li> -->
        <a href="/login">Login</a>
      {% endif %}
    </div>

  {% block body %}
  {% endblock %}

    <div>
      <ul>
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </ul>
    </div>

  </body>
</html>
