<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Convo{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/site.css"/>
    <link rel="shortcut icon" href="/static/dialogue_box.ico" type="image/x-icon" />

    {% block css %}

    {% endblock %}

    <script src="http://code.jquery.com/jquery.js"></script>
  </head>


  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      console.log("HOWDY");
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=106459510088495";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
      (function(d, s, id){
        console.log("HIYA");
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class="navbar-color navbar navbar-inverse navbar-static-top">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Convo</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right"> 
          <a href="/questions"><span class="tab">Questions</span></a>

          <a href="/graph"><span class="tab">Trending Words</span></a>

          <a href="/search"><span class="tab">Search</span></a>

          {% if "user_id" in session %}
            <a href="/logout"><span class="tab">Logout</span></a>
          {% else %}
            <a href="/login"><span class="tab">Login</span></a>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      <div>
        <ul>
          {% for message in get_flashed_messages() %}
            {{ message }}
          {% endfor %}
        </ul>
      </div>

      {% block body %}
        
      {% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/static/vote.js"></script> 
  </body>
</html>
