<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Convo{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/site.css"/>
    <link rel="shortcut icon" href="/static/dialogue_box.ico" type="image/x-icon" />

    {% block css %}

    {% endblock %}

    <script src="http://code.jquery.com/jquery.js"></script>
  </head>


  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=106459510088495";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
      function facebookLogout(evt){
        evt.preventDefault();
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            FB.logout(function(response) {
                window.location = "/logout";
              });
            };
          })
        };
      
    </script>

    <script>
      function facebookLogin(evt){
        evt.preventDefault();
        FB.login(function(response) {
          var userID = response.authResponse.userID;
          var accessToken = response.authResponse.accessToken;

          function post(path, params, method) {
              method = method || "post"; // Set method to post by default if not specified.

              // The rest of this code assumes you are not using a library.
              // It can be made less wordy if you use one.
              var form = document.createElement("form");
              form.setAttribute("method", method);
              form.setAttribute("action", path);

              for(var key in params) {
                  if(params.hasOwnProperty(key)) {
                      var hiddenField = document.createElement("input");
                      hiddenField.setAttribute("type", "hidden");
                      hiddenField.setAttribute("name", key);
                      hiddenField.setAttribute("value", params[key]);

                      form.appendChild(hiddenField);
                   }
              }

              document.body.appendChild(form);
              form.submit();
          }
          post("/login", {userID: userID, accessToken: accessToken});
        }, { auth_type: 'reauthenticate' })
      }
    </script>

    <nav class="navbar-color navbar navbar-inverse navbar-static-top">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Convo</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right"> 
          <a href="/questions"><span class="tab">Questions</span></a>

          <a href="/graph"><span class="tab">Trending Words</span></a>

          <a href="/search"><span class="tab">Search</span></a>

          {% if "user_id" in session %}
            <a id="logout" href="/logout">
              <span class="tab">
                Logout
                  <script>
                    var logout = document.getElementById('logout');
                    logout.addEventListener('click', facebookLogout);
                  </script>
              </span>
            </a>
          {% else %}
            <a id="login" href="/login">
              <span class="tab">
                Login
                <script>
                  var login = document.getElementById('login');
                  login.addEventListener('click', facebookLogin);
                </script>
              </span>
            </a>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      <div>
        <ul>
          {% for message in get_flashed_messages() %}
            {{ message }}
          {% endfor %}
        </ul>
      </div>

      {% block body %}
        
      {% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/static/vote.js"></script> 
  </body>
</html>
