{% extends 'base.html' %}


{% block title %}
	Login
{% endblock %}	


{% block body %}
<form action="/" method="POST">
    <input type="text" name="email" value="Email"><br>
    <input type="password" name="password" value="Password"><br>
    
    <input type="submit" value="LOGIN">
</form><br>

<a href="/register">Register</a>

<h1><center>Learn, Share, Connect</center></h1>

<p>
	<center>
		We share this space to learn from each other, engage with each other and raise each other up. Recognize the strength of understanding, the power of mutual betterment.
	</center>
</p>

{% endblock %}
