{% extends 'base.html' %}
{% block body %}

<div>
<h1>{{ question.title }}</h1>

<div>

    <div>
        <p>Submitted by: {{ question.user.user_name }}</p>
        <p>Date/Time Submitted: {{ question.created_at | pacific }}</p>

    {% if question.answers %}
      <ul>
        {% for answer in question.answers %}
          <li>
            <p>Answered By: {{answer.user.user_name}}</p>
            <p>Answered Date/Time: {{ (answer.created_at | pacific) }}</p>

            {% if answer.edited_at %}
              <p>Edited Date/Time: {{ answer.edited_at | pacific }}</p>
            {% else %}
              <p>Edited Date/Time: This answer has not been edited.</p>
            {% endif %}

            <p>Answer: {{ answer.body }}</p>
          </li>
        {% endfor %}

    {% else %}
      <p>There are no answers for this question.</p>
    {% endif %}        
      </ul>        

      {% if answer %}
        <form action="/questions/{{ question.question_id }}" method="POST">
          Do you want to edit your answer?<br>
          <textarea rows="8" cols="100" name="updated_answer">{{ answer.body }}</textarea><br>
          <input type="submit" value="Edit">
        </form>
      {% else %}
        <p>Would you like to answer this question?</p>
        <form action="/questions/{{ question.question_id }}" method="POST">
          Submit An Answer:<br>
          <textarea rows="8" cols="100" name="user_answer"></textarea><br>
          <input type="submit" value="Submit">
        </form><br>
      {% endif %} 

    </div>
</div>
</div>
{% endblock %}

