{% extends 'base.html' %}
{% block body %}

<div>
<h1>{{ question.title }}</h1>

<div>

    <div>
        <span id="question_id" data-question-id="{{ question.question_id }}"></span>

        <p>Submitted by: {{ question.user.user_name }}</p>
        <p>Date/Time Submitted: {{ question.created_at | pacific }}</p>

          <p>
            Current Votes:
            <span class="question-vote-count">{{ question.question_votes | length }}</span>
          </p>

              <button {% if question.user.user_id in question.question_votes %} disabled {% endif %}
                      id="question-vote"
                      class="button question-vote-btn" 
                      data-default-text="Vote This Question Up!"
                      data-alt-text="Thanks for Voting">
                <span class="icon"></span> 
                <span class="text">Vote This Question Up!</span>
              </button><br><br><br>
            

    {% if question.answers %}
      <ul>
        {% for answer in question.answers %}
          <li>

            <p>Answered By: {{answer.user.user_name}}</p>
            <p>Answered Date/Time: {{ (answer.created_at | pacific) }}</p>

            {% if answer.edited_at %}
              <p>Edited Date/Time: {{ answer.edited_at | pacific }}</p>
            {% else %}
              <p>Edited Date/Time: This answer has not been edited.</p>
            {% endif %}

            <p>Answer: {{ answer.body }}</p>
            <p>
              Current Votes:
              <span class="answer-vote-count" data-answer-id="{{ answer.answer_id }}">
                {{ answer.answer_votes | length }}
              </span>
            </p>

            <button {% if answer.user.user_id in answer.answer_votes %} disabled {% endif %}
                    id="answer-vote"
                    class="button answer-vote-btn" 
                    data-answer-id="{{ answer.answer_id }}"
                    data-default-text="Vote This Answer Up!"
                    data-alt-text="Thanks for Voting">
              <span class="icon"></span> 
              <span class="text">Vote This Answer Up!</span>
            </button>

          </li>
        {% endfor %}

    {% else %}
      <p>There are no answers for this question.</p><br>
    {% endif %}        
      </ul>        

      {% if answer %}
        <form action="/questions/{{ question.question_id }}" method="POST">
          Do you want to edit your answer?<br>
          <textarea rows="8" cols="100" name="updated_answer">{{ answer.body }}</textarea><br>
          <input class="button" type="submit" value="Edit">
        </form>
      {% else %}
        <p>Would you like to answer this question? Please be civil. Low effort content will be removed per moderator discretion.</p>
        <form action="/questions/{{ question.question_id }}" method="POST">
          Submit An Answer:<br>
          <textarea rows="8" cols="110" name="user_answer"></textarea><br>
          <input class="button" type="submit" value="Submit">
        </form><br>
      {% endif %} 

    </div>
</div>
</div>
{% endblock %}

