{% extends 'base.html' %}
{% block body %}

<div>

  <h2>Submit A Question</h2>
  <p>Would you like to submit a question? Great! Please avoid soapboxing and loaded questions. Low effort content will be removed per moderator discretion.</p>
    <form action="/questions" method="POST">
      <textarea rows="8" cols="100" name="user_question"></textarea><br>
      <input type="submit" value="Submit">
    </form><br>

  <a href="/graph">Trending Words</a>

  <h2>Questions</h2>
  <ul>
   
    {% for question in questions %}
      <li>
        <a href="/questions/{{ question.question_id }}">{{ question.title }}</a>
      </li>
    {% endfor %}
  
  </ul>
</div>
{% endblock %}
