{% extends 'base.html' %}
{% block body %}
<div>
  {% if "user_id" in session %}
    <!-- <li><a href="/user_page/{{ session['user_id'] }}">Profile</a></li> -->
    <a href="/logout">Logout</a>
  {% else %}
    <!-- <li><a href="/register">Register</a></li> -->
    <a href="/login">Login</a>
  {% endif %}
</div>

<div>

  <h2>Submit A Question</h2>
  <p>Would you like to submit a question? Great! Please avoid soapboxing and loaded questions. Low effort content will be removed per moderator discretion.</p>
    <form action="/questions" method="POST">
      <textarea rows="8" cols="100" name="user_question"></textarea><br>
      <input type="submit" value="Submit">
    </form><br>

  <h3>Search</h3>
    <form action="/search" method="POST">
      <textarea cols="50" name="user_search"></textarea><br>
      <input type="submit" value="Search">
    </form><br>

  <a href="/graph">Trending Words</a>

  <h2>Questions</h2>
  <ul>
   
    {% for question in questions %}
      {% if question.answers %} 
        <li>
          <a href="/questions/{{ question.question_id }}">{{ question.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  
  </ul>
</div>
{% endblock %}
