{% extends 'base.html' %}
{% block body %}

<div>

  <h2>Submit A Question</h2>
    <form action="/questions" method="POST">
      <textarea rows="8" cols="100" name="user_question"></textarea><br>
      <input type="submit" value="Submit">
    </form><br>

  <h3>Search</h3>
    <form action="/search" method="POST">
      <textarea cols="50" name="user_search"></textarea><br>
      <input type="submit" value="Search">
    </form><br>

  <a href="/graph">Trending Words</a>

  <h2>Questions</h2>
  <ul>
  {% for question in questions %}
      <li>
        <a href="/questions/{{ question.question_id }}">{{ question.title }}</a>
      </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
